body {
  background: grey;
  font-family: sans-serif;
}

#city{
  width: 100%;
  height: 30px;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 10px;


  p{
    margin-right: 10px;
  }
  #inputField{
    background: white;
    color: black;
    height: 40px;
    font-size: 20px;
    width: 200px;
  }

  #submitButton{
  width: 60px;
  height: 40px;
  margin-left: 10px;
  border: solid 2px;
  cursor: pointer;
  background: grey;
  font-weight: bold;
  color:white;
  font-size: 25px;
  }
}

#result{
  width: 100%;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: inherit;

  .weatherDiv{
    width: 260px;
    height: 140px;
    color:white;
    margin-right: 30px;

    .weatherCityName{
      color:white;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: left;
      justify-content: left;
      padding-left: 5px;
      font-size: 20px;
      font-weight: bold;
    }
    .weatherSkyStatus{
      color:white;
      width: 100%;
      height: 30px;
      display: flex;
      align-items: left;
      justify-content: left;
      padding-left: 5px;  
      font-weight:bold;
    }
        .tempDiv,
        .humidityDiv{
          width: 100%;
          height:40%;
          margin-top: 5px;
          padding-left: 5px;
      }
  }
}