.note{
  width: 15%;
  min-width: 200px;
  height: 284px;
  flex-direction: column;
  margin-left: 27px;
  margin-bottom: 20px;
  position: relative;
  .noteDrag{
    height: 25px;
    width: 100%;
    background-color: grey;
    position: relative;
    display:flex;
    justify-content: center;
    span{
      font-size: 10px;
    }
  }
}

.noteInnerWrapper{
  width: 100%;
  height: 78%;
  display:flex;
  position: relative;
  flex-direction: row;
  align-items: space-around;

  .noteCloseButton{
    position: relative;
    width: 30px;
    height:30px;
    margin-left: auto;
    border: 2;
    background-color: lightgray;
    border:1px solid white;
  }
  .noteTitle{
    position: relative;
    width: 100%;
    display: center;
    align-items: center;
    height:30px;
    content: center;
    text-align: center;
    background-color: grey;
    font-size: 14px;
  }
}
.noteTextArea{
  width: 98%;
  margin-top:30px;
  position: absolute;
  resize: none;
  background-color: inherit;
  font-size: 20px;
  border:none;
  height: 84%;
}

#noteButtonsDiv{
  width:100%;
  height: 37px;
  display: flex;
  color: white;
  .noteButtons{
    color: white;
    width: 50%;
    height:100%;
    background-color: gray;
    border:1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #pinNote{
    height: 35px;
  }
}

.changeColorDiv{
  background-color: white;
  width: 200px;
  height: 150px;
  top: 35%;
  left: 50%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  border: 1px solid white;
  z-index: 2;
  .colorDiv{
    width: 32%;
    height: 50%;
    border-radius: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
}
.colorCircle{
  width: 70%;
  height: 70%;
  border-radius: 100%;
  border: 1px solid white;
}