body {
  background: rgb(114, 113, 113);
  font-family: Tahoma;
}

#inputContainer{
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
#input{
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 15px;
  div{
    margin-bottom: 10px;
    width: 100%;
  }
  p{
    margin-bottom: 1%;    
  }
  .inputField{
    border:none;
    outline: none;
    background: rgb(114, 113, 113);
    border-bottom: solid 1px;
    color: white;
    height: 20px;
    font-size: 20px;
    width: 100%;
    max-width: 400px;
  }
  #inputText{
    border:1px solid white;
    width: 100%;
    height: 200px;
    resize: none;
  }
}
#submitButton{
  width: 5.4%;
  height: 40px;
  border: solid 1px;
  outline: none;
  cursor: pointer;
  background: rgb(114, 113, 113);
  font-weight: bold;
  color:white;
  font-size: 15px;
  min-width: 100px;
}

#result{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: inherit;
  span{
    font-size: 25px;
    font-weight: bold;
  }
  hr{
    width: 100%;
    
  }
  #pinnedNotes{
    width: inherit;
    height: 30%;
    min-height: 310px;
    display:flex;
    flex-direction: row;
  }
  #notes{
    width: inherit;
    height: 80%;
    min-height: 310px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

