body {
  background: #ffda79;
  font-family: sans-serif;
  font-size: 10px;
}

#inputContainer{
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: right;
  padding-left: 50px;
  
}
#input{
  color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 15px;
  div{
    margin-bottom: 10px;
    width: 100%;
  }
  p{
    margin-bottom: 1%;    
  }
  .inputField{
    border:none;
    outline: none;
    background: #ccae62;
    color: black;
    height: 15px;
    font-size: 15px;
    width: 100%;
    max-width: 400px;
  }
  #inputText{
    border:1px solid black;
    width: 100%;
    height: 200px;
    resize: none;
  }
}
#submitButton{
  width: 5.4%;
  height: 40px;
  border: solid 1px;
  outline: none;
  cursor: pointer;
  background: #ff793f;
  font-weight: bold;
  color:black;
  font-size: 15px;
  min-width: 100px;
}

#result{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: inherit;
  span{
    font-size: 15px;
    font-weight: bold;
  }
  hr{
    width: 100%;
    
  }
  #pinnedNotes{
    width: inherit;
    height: 30%;
    min-height: 310px;
    display:flex;
    flex-direction: row;
  }
  #notes{
    width: inherit;
    height: 80%;
    min-height: 310px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
